#mySlider.carousel.slide
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100.img-fluid(src="https://place-hold.it/900x350" alt="Placeholder image 1")
    .carousel-item
      img.d-block.w-100.img-fluid(src="https://place-hold.it/900x350" alt="Placeholder image 2")
    .carousel-item
      img.d-block.w-100.img-fluid(src="https://placehold.it/900x350" alt="Placeholder image 3")
  button.carousel-control-prev(type="button" data-bs-target="#mySlider" data-bs-slide="prev")
    span.carousel-control-prev-icon(aria-hidden="true")
    span.visually-hidden Previous
  button.carousel-control-next(type="button" data-bs-target="#mySlider" data-bs-slide="next")
    span.carousel-control-next-icon(aria-hidden="true")
    span.visually-hidden Next